# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
build/
dist/
*.spec

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data (Optional: if datasets are too large, but these are small)
# data/processed/
# models/*.joblib
